.container{
    width: 80%;
    margin: 0 auto;
    position: relative;
    left: 8%;
}
.card {
    height: 180px;
    width: 180px;
    float: left;
    margin: 20px;
}

.card-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 180px;
    width: 180px;
}